@import '../../../styles/index';

nav {
    width: 92%;
    position: fixed;
    left: 4%;
    bottom: 30px;
    height: 70px;

    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px $low-opacity-black;
    border-radius: 20px;
    background-color: $white;
    z-index: 101;
}

nav button {
    width: 50px;
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
}

.user-border {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px $low-opacity-black;
    margin: 20px;
    margin-left: 30px;
}

.user-border .user-icon {
    font-size: 28px;
    color: $white;
}

.pages {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pages .link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: 30px;
    background: $white;
    padding: 7.5px 25px;
    border-radius: 10px;
}

.pages .icon {
    margin-right: 0;
    color: $dark-blue;
    margin-bottom: 5px;
    font-size: 30px;
}

.pages .active {
    color: $white;
}

.pages .active-border {
    background: $dark-blue;
}