@import '../../../styles/index';

.logo {
    height: 100%;
    width: 100%;
    background: $orange;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 70%;
}