@import '../../../styles/index';

.home-photo-collection {
    width: 100%;
    height: 110px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 70px;
}

.photos {
    overflow: visible !important;
}

.home-photo-collection .swiper {
    width: 100%;
    height: 100%;
}
  
.home-photo-collection .swiper-slide {
    text-align: center;
    font-size: 18px;
}
  
.home-photo-collection .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-photo-collection .swiper-pagination-bullet-active {
    background-color: $dark-grey !important;
    --swiper-pagination-bullet-size: 20px;
}

.swiper-pagination-bullet {
    --swiper-pagination-bullet-size: 6px;
}

.mini-photo-card {
    width: 100%;
    height: 100%;
    background: $dark-blue;
    border-radius: 20px;
    box-shadow: 0px 4px 4px $low-opacity-black;
}