@import '../../styles/index';

.header {
    margin: 10%;
    margin-bottom: 3%;
}

.header .back-button, .header a {
    text-decoration: none;
    width: fit-content;
    color: $light-blue;
    margin-bottom: 15px;
    display: block;
}

.photo-card {
    position: relative;
    width: 100%;
    height: 300px;
    background: $dark-blue;
    margin-bottom: 30px;
    border-radius: 25px;
}

.photo-gallery {
    position: relative;
}

.photo-card .banner {
    position: absolute;
    top: 25px;
    width: 100%;
    height: 38px;
    background: $high-opacity-orange;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .banner-header {
    color: $white;
    font-size: 30px;
}

.photo-gallery .banner {
    position: absolute;
    top: 0;
    color: $white;
    width: 100%;
    height: 70px;
    padding: 10px 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: $high-opacity-orange;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo-gallery .banner .banner-header {
    font-size: 25px;
}

.light-box {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: $high-opacity-black;
    top: 0;
    z-index: 101;
}