@import '../../styles/index';

.header {
    margin: 10%;
    margin-bottom: 3%;
}

.photo-collection {
    margin-bottom: 100px;
}

.header .back-button, .header a {
    text-decoration: none;
    width: fit-content;
    color: $light-blue;
    margin-bottom: 15px;
    display: block;
}

.collection-selection {
    margin: 7.5%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 60px;
}

.photo-card {
    position: relative;
    min-width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 120px;
    background: $dark-blue;
    margin-bottom: 25px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px $low-opacity-black;
    animation: fade-in 1s ease;
    overflow: hidden;
}

.photo-card .photo-card-image {
    position: absolute;
    min-width: 100%;
    width: auto;
    height: auto;
    min-height: 120px;
    max-height: 120px;
}

.photo-gallery {
    position: relative;
    animation: fade-in 1s ease;
    width: 100%;
}

.photo-card .banner {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 25px;
    background: $high-opacity-blue;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px $low-opacity-black;
}

.banner .banner-header {
    color: $white;
    font-size: 15px;
}

.photo-gallery .banner {
    position: relative;
    top: 0;
    color: $white;
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: $orange;
    margin-bottom: 1px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo-gallery .banner .banner-header {
    font-size: 20px;
}

.light-box {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: $high-opacity-black;
    top: 0;
    z-index: 101;
    opacity: 100;
    pointer-events: all;
    transition: all 0.5s ease;
}

.light-box .light-box-exit {
    width: 35px;
    height: 35px;
    background: $orange;
    border-radius: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px $low-opacity-black;
    top: 50px;
    left: 20px;
}

.light-box-exit {
    font-size: 25px;
    color: $white;
}

.light-box-inactive {
    opacity: 0;
    pointer-events: none;
}

.gallery {
    height: 100%;
    background: clear;
}

.light-box .swiper-slide {
    background: $transparent;
}

.light-box .swiper-button-prev, .light-box .swiper-button-next {
    color: $white;
    background: $high-opacity-orange;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    transform: scale(50%);
    box-shadow: 0px 4px 4px $low-opacity-black;
}

.light-box .swiper-button-prev {
    transform: scale(50%) translate(-60%, -20%);
}

.light-box .swiper-button-next {
    transform: scale(50%) translate(60%, -20%);
}

.gallery-card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-card .gallery-image-caption {
    position: absolute;
    color: $white;
    font-size: 30px;
    top: 25%;
}

.gallery-card img {
    width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 4px $low-opacity-black;
}