@import '../../../styles/index';

.escape {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 30;
}

.audio-modal-outline {
    height: 100vh;
    position: fixed;
    bottom: 30px;
    width: 92%;
    left: 4%;
    z-index: 99;
    overflow: hidden;
    border-radius: 20px;
    pointer-events: none;
}

.audio-modal-container {
    display: block;
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: auto;
    z-index: 99;
    pointer-events: all;
}

.audio-modal {
    position: absolute;
    width: 100%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: 0;

    background: $white;
    margin-bottom: 60px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 5px $low-opacity-black;
    transition: transform 1s ease;
    transform: translateY(0%);
}

.modal-section {
    height: 64px;
    overflow: hidden;
    transition: height 0.5s ease;
}

.image-container {
    width: 90%;
    margin: 0% 5%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
}

.image-container .modal-image {
    width: 100%;
    max-height: 300px;
    height: auto;
    transform: scale(108%);
    object-fit: cover;
}

.audio-modal .bar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.audio-modal .bar {
    position: relative;
    width: 80px;
    height: 4px;
    background: $dark-blue;
    border-radius: 2px;
}

.audio-modal .divider {
    height: 1px;
    width: 100%;
    background: $off-white;
}

.audio-modal .modal-option {
    width: auto;
    color: $dark-blue;
    padding: 5% 5%;
    display: flex;
    align-items: center;

    height: 64px;
}

.modal-option-icon {
    font-size: 25px;
    margin-right: 15px;
}

.modal-option h5 {
    font-size: 18px;
    margin-bottom: 0;
}

.audio-modal-content {
    margin: 0% 5%;
    color: $black;
    font-family: 'Open Sans', sans-serif;
}

.audio-modal-content .show-more {
    color: $light-blue;
    font-size: 14px;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
}

.audio-modal-notes {
    background: $white;
    width: 90%;
    height: auto;
    resize: none;
    border: none;
}

.audio-modal-notes:focus {
    border: none;
    outline: none;
}

.audio-modal-memo {
    height: 80px;
}

.show-notes {
    height: 170px;
}

.show-transcript {
    height: 140px;
}

.show-audio {
    height: 170px;
}

.hidden {
    transform: translateY(100%);
}

.behind {
    transition: z-index 0.5s linear;
    transition-delay: 0.5s;
    z-index: 0;
}

input[type="file"] {
    display: none;
}




/** Pop Ups */

.modal-nav {
    margin: 5%;
    color: $light-blue;
}

.nav-save {
    margin-right: 10px;
}

.notes-options {
    display: flex;
    justify-content: space-between;
}

.back-icon {
    margin-bottom: 3px;
}

.save-icon {
    margin-right: 5px;
    margin-bottom: 5px;
}

/** Image Container */

.image-box-container {
    top: 0;
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 100vh;
    background: $high-opacity-black;
    pointer-events: none;
    transition: opacity 0.5s ease;
    opacity: 100;
    z-index: 120;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}

.popup-image-container {
    width: 90%;
    border-radius: 20px;
    box-shadow: 0px 4px 4px $low-opacity-black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.popup-image-container .popup-image {
    width: 100%;
    transform: scale(110%);
}

.image-box-container .image-box-exit {
    width: 35px;
    height: 35px;
    background: $orange;
    border-radius: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px $low-opacity-black;
    top: 50px;
    left: 20px;
}

.image-box-exit {
    font-size: 25px;
    color: $white;
}

.image-box-inactive {
    opacity: 0;
    pointer-events: none;
}