@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";

// In this .scss file you can modify the bootstrap styling variables.
//
// Bootstrap variables that can modified:
// "node_modules/bootstrap/scss/_variables.scss"
//
// More information:
// https://getbootstrap.com/docs/4.0/getting-started/theming/

$dark-blue: rgb(30, 44, 94);
$high-opacity-blue: rgba(30, 44, 94, 0.80);
$light-blue: #4784DE;
$high-opacity-orange: rgba(255, 114, 34, 0.80);
$orange: #FF7222;
$light-orange: #F9945B;
$grey: #515151;
$light-grey: #CCCCCC;
$lighter-grey: #DDDDDD;
$off-white: #F8F8F8;
$white: #FFFFFF;
$dark-grey: #787878;
$low-opacity-black: rgba(0, 0, 0, 0.25);
$high-opacity-black: rgba(0, 0, 0, 0.75);
$transparent: rgba(0, 0, 0, 0);