@import '../../styles/index';


.content {
    padding-left: 30px;
    padding-right: 30px;
}
.filters {
    width: 100%;
    height: 35px;
    font-size: 15px;
}

.filters .all-favourites {
    width: 50%;
    height: 100%;
    float: left;
}

.filters .all-favourites .all-favourites-card{
    width: 90%;
    height: 100%;
    box-shadow: 0px 2px 2px $low-opacity-black;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.filters .all-favourites .all-favourites-card .all{
    height: 100%;
    float: left;
    background-color: $orange;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px; 
    color: $white
}

.filters .all-favourites .all-favourites-card .favourites {
    height: 100%;
    float: right;
    text-align: right;
    color: $orange;
}


.filters .sort-by {
    width: 35%;
    height: 100%;
    float: left; 
}

.filters .sort-by .sort-by-card {
    height: 100%;
    float: right;
    box-shadow: 0px 2px 2px $low-opacity-black;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: $orange;
}

.drop-down {
    box-shadow: 0px 2px 2px $low-opacity-black;
    text-align: center;
    position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $white;
    z-index: 10;
    border-radius: 20px;
    transform: translate(80%, 0px)
}


.filters .search {
    width: 15%;
    height: 100%;
    float: right;
    text-align: right;  
    
}

.filters .search-card{
    height: 100%;
    width: 40px;
    float: right;
    border-radius: 20px;
    background-color: $orange;
    padding-right: 10px;   
    box-shadow: 0px 2px 2px $low-opacity-black;
}

.filters .search-card .search-icon {
    height: 100%;
    font-size: 20px;
    color: $white;
}

.select{
    height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: right;
    color: $light-blue;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 80px;
}

.hike-card {
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px $low-opacity-black;
    width: 100%;
    border-radius: 25px;
    height: 80px;
    position: relative;
    overflow: hidden;
}

.hike-card .hike-map {
    width: 20%;
    height: 100%;
    float: left;
    overflow: hidden;
}

.hike-card .hike-info {
    right: 0;
    float: right;
    width: 80%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.hike-card .hike-info .hike-date-time {
    width: 100%;
    height: 50%;
    font-size: 13px;
    padding-top: 13px;
}

.hike-card .hike-info .hike-date-time .hike-date {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    align-items: flex-end;
}

.hike-card .hike-info .hike-date-time .hike-time {
    right: 0;
    float: right;
    width: 50%;
    height: 100%;
    text-align: right;
    display: flex;
    align-items: flex-end;
}

.hike-card .hike-info .hike-title {
    width: 100%;
    height: 50%;
}






