@import '../../styles/index';

.hike-description{
    z-index: 100;
    width: 225px;
    position: fixed;
    left: 30px;
    top: 55px;
    background-color: $white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px $low-opacity-black;
    animation: fade-in 1s ease;
}

.hike-description .back-button {
    position: absolute;
    box-shadow: 0px 2px 2px $low-opacity-black;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -3px;
    top: -25px;
    background: $white;
}

.hike-description .back-button .back-icon {
    font-size: 30px;
    transform: translateX(-3px);
}

.hike-card-title {
    font-size: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.hike-card-title .favourites-icon-container .favourites-icon {
    position: absolute;
    right: 20px;
    color: $orange;
    font-size: 25px;
    fill: $white;
    transition: 0.3s ease;
}

.favourites-icon-container {
    margin-right: 0px;
}

.hike-card-title .favourites-icon-container .fill-heart {
    fill: $orange;
}



.hike-date{
    font-size: 13px;
    margin-bottom: 2px;
}

.hike-instructions{
    font-style: italic;
    font-size: 13px;
}

.map-container{
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}