@import '../../styles/index';

.hike-description{
    z-index: 100;
    width: 225px;
    position: fixed;
    left: 30px;
    top: 30px;
    background-color: $white;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0px 3px 5px $low-opacity-black;
    animation: fade-in 1s ease;
}

.hike-description .back-button {
    margin-bottom: 0px;
}

.hike-title{
    font-size: 20px;
}

.hike-date{
    font-size: 13px;
}

.hike-instructions{
    font-style: italic;
    font-size: 13px;
}

.map-container{
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}